#background {
    height: 1070px;
    width: 1778px;
    background-color: #cacac4; /* (202, 202, 196) */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.smiley {
    width: 94px;
    height: 94px;
    background-color: red;
    margin: 0 auto;
}

.board {
    height: 946;
    width: 1758;
    background-color: #e8e8de; /* (232, 232, 222) */
    /* border: 1px solid #e8e8de; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* pygame.draw.rect(screen, BOARD, pygame.Rect(10, 114, 1758, 946)) */
}
